#control-panel {
    background-color: #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
    padding-top: 5px;
}
#format-actions {
    width: 300px;
    margin-right: 300px;
}

.format-action {
    cursor: pointer;
    margin-right: 10px;
}

.format-action:nth-last-child() {
    margin-right: 0;
}

.format-active {
    background-color: floralwhite;
}

#synonyms {
    list-style: none;
    width: 600px;
    height: 55px;
    overflow: hidden;
    padding: 0;
}

#synonyms > li {
    display: inline-block;
    margin-right: 20px;
    margin-bottom: 10px;
    cursor: pointer;
}

#synonyms > li:last-child {
    margin-right: 0;
}
